*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background-color: #292a2e;
    color: #e3e5e7;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: white;
    padding: .75rem;
    width: 100vw;
}

.header-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-logo{
    width: 15rem;
}

.header-right{
    width: fit-content;
    display: flex;
    gap: 1rem;
}

.banner{
    /* background-color: black; */
    /* background-color: #e8eddf; */
    background-color: #cfdbd5;

    width: 95vw;
    height: 10rem;
    margin: auto;
}


.container{
    display: grid;
    position: relative;
    padding: 2rem 0;
    grid-template: 14rem 14rem / auto auto auto;
    place-items: center;
    align-items: center;
    row-gap: 2rem;
}

.container .product_card_id_container{
    background-color: #001d3d;

    width: 10rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
    text-align: center;
    /* margin: 1rem; */

    border-radius: .5rem;
    transition: height .5s;
}

.container .product_card_id_container:hover{
    height: 16rem;
}

.container .product_card_id_container .add_to_cart_image{
    width: 2.5rem;
    position: absolute;
    top: 0;
    right: .5rem;
    filter: invert();

    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.container .product_card_id_container:hover .add_to_cart_image{
    opacity: 1;
    visibility: visible;
}

.container .product_card_id_container:hover .product_image{

    top: .5rem;

    transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
}

.container .product_card_id_container:hover .description{
    height: 5.5rem;
}

.container .product_card_id_container:hover
.description .price{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.container .product_card_id_container:hover
.description .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}

.container .product_card_id_container:hover
.description .buy_button{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .product_card_id_container .product_image{
    background-color: #003566;
    width: 8rem;
    height: 8rem;

    position: relative;
    top: 50%;
    bottom: 50%;

    transition: top .5s, transform .5s;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.container .product_card_id_container .description{
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    
    transition: .8s ease;
}


.container .product_card_id_container .description .price,
.container .product_card_id_container .description .size,
.container .product_card_id_container .description .buy_button{
    opacity: 1;
    
    opacity: 0;
    visibility: hidden;
}

.container .product_card_id_container .buy_button{
    background-color: #f9ce30;
    color: #292a2e;
    padding: .2rem .4rem;
    border-radius: .2rem;
}

footer{
    background-color: #000814;

    width: 100vw;
    position: absolute;
    bottom: 0;
}


footer div{
    display: flex;
    place-items: center;
    padding: .5rem;
}

footer .top{
    background-color: #001d3d;
}

footer .footer-container{
    background-color: #003566;
    
}
footer .contact_icon{
    width: 2.5rem;
    padding-left: .5rem;
}

footer .copyright{
    justify-content: center;
}